<%= render :partial => 'shared/left_nav' %>
<h4>Who to follow</h4>
<p>Tumblful accounts in alpabetical order.</p>
<hr />
<ol>
  <% @users.each do |user| %>
    <li>
      <%= content_tag :strong, user.name %>
      <%= content_tag :span, "@"+user.username %>
      <%= follow_link(user) %>
    </li>
    <hr>
  <% end %>
</ol>
